@use 'sass:map';
@use '../constant/color.constant' as color-constant;

@mixin build-color($element) {
  @if map.has-key(color-constant.$elements, $element) {
    $value: map.get(color-constant.$elements, $element);
    $property: map.get($value, 'property');
    $modifiers: map.get($value, 'modifiers');
    $primary: map.get($modifiers, 'primary');
    $secondary: map.get($modifiers, 'secondary');
    $accent: map.get($modifiers, 'accent');
    $block: color-constant.$block;
    .#{$block} {
      &__#{$element} {
        &--primary {
          #{$property}: $primary;
        }

        &--secondary {
          #{$property}: $secondary;
        }

        &--accent {
          #{$property}: $accent;
        }
      }
    }
  } @else {
    @error "Element #{$element} is not defined in color constant!";
  }
}
