@use 'sass:map';
@use '../constant/size.constant' as size-constant;

@mixin build-size($element) {
  @if map.has-key(size-constant.$size-elements, $element) {
    $value: map.get(size-constant.$size-elements, $element);
    $property: map.get($value, 'property');
    $none: map.get($value, 'none');
    $xs: map.get($value, 'xs');
    $sm: map.get($value, 'sm');
    $md: map.get($value, 'md');
    $lg: map.get($value, 'lg');
    $xl: map.get($value, 'xl');

    &__#{$element} {
      &--none {
        #{$property}: $none;
      }

      &--xs {
        #{$property}: $xs;
      }

      &--sm {
        #{$property}: $sm;
      }

      &--md {
        #{$property}: $md;
      }

      &--lg {
        #{$property}: $lg;
      }

      &--xl {
        #{$property}: $xl;
      }
    }
  } @else {
    @error "Element #{$element} is not defined in size-constant!";
  }
}
