@use 'sass:map';
@use '../constant/size.constant' as size-constant;

@mixin build-size($element) {
  @if map.has-key(size-constant.$elements, $element) {
    $value: map.get(size-constant.$elements, $element);
    $property: map.get($value, 'property');
    $modifiers: map.get($value, 'modifiers');
    $none: map.get($modifiers, 'none');
    $xs: map.get($modifiers, 'xs');
    $sm: map.get($modifiers, 'sm');
    $md: map.get($modifiers, 'md');
    $lg: map.get($modifiers, 'lg');
    $xl: map.get($modifiers, 'xl');
    $block: size-constant.$block;
    .#{$block} {
      &__#{$element} {
        &--none {
          #{$property}: $none;
        }

        &--xs {
          #{$property}: $xs;
        }

        &--sm {
          #{$property}: $sm;
        }

        &--md {
          #{$property}: $md;
        }

        &--lg {
          #{$property}: $lg;
        }

        &--xl {
          #{$property}: $xl;
        }
      }
    }
  } @else {
    @error "Element #{$element} is not defined in size constant!";
  }
}
