@use '../../style/abstracts/variables';

.section {
  &__palette {
    &--primary {
      background-color: variables.$color__primary--default;
      color: variables.$color__text--inverse;
    }

    &--surface {
      background-color: variables.$color__background--surface;
      color: variables.$color__text--primary;
    }

    &--main {
      background-color: variables.$color__background--main;
      color: variables.$color__text--primary;
    }
  }
}
