@use '../../../style/abstracts/variables';

.education {
  margin: auto;
  max-width: 960px;
  padding: variables.$size--xl variables.$size--lg;

  &__header {
    margin-bottom: variables.$size--md;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: variables.$size--md;

    @media screen and (min-width: variables.$screen__size--laptop) {
      flex-direction: row;
    }
  }

  &__item {
    padding: variables.$size--md;
    background-color: variables.$color__background--surface;
    border-radius: variables.$size--xs;
    box-shadow: variables.$shadow--md;
    flex: 1;
  }
}
