<div class="education">
  <header class="education__header">
    <text-component type="h2" value="Education"></text-component>
  </header>
  <div class="education__content">
    @for (education of educations(); track education) {
      <div class="education__item">
        <text-component
          type="p"
          [value]="education.year.toString()"
          palette="secondary"
        ></text-component>
        <text-component type="h3" [value]="education.university"></text-component>
        <text-component type="p" [value]="education.major" palette="secondary"></text-component>
        <text-component type="p" [value]="education.degree" palette="secondary"></text-component>
      </div>
    }
  </div>
</div>
