@use '../../../style/abstracts/variables';

.skills {
  margin: auto;
  max-width: 960px;
  padding: variables.$size--xl variables.$size--lg;

  &__header {
    margin-bottom: variables.$size--md;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: variables.$size--sm;
    flex-wrap: wrap;
  }
}
