@use '../../abstracts/mixins';

.footer {
  @include mixins.section_shape;
  background-color: blue;

  &__content {
    @include mixins.column_layout(1rem);
    margin: auto;
    max-width: 960px;
  }

  // &__line {
  // }
}
