@use 'palette.abstract' as palette;
@use 'constant.abstract' as constant;

@mixin build-layout {
  @include build-typography;
  @include build-palette;
}

@mixin build-typography {
  font-family: constant.$font__family;
  font-weight: constant.$font__weight--normal;
  font-style: normal;
}

@mixin build-palette {
  @each $name, $palette in palette.$palette {
    &__palette--#{$name} {
      @each $property, $value in $palette {
        #{$property}: #{$value};
      }
    }
  }
}
