<section class="education">
  <div class="education__content">
    <header class="education__header">
      <text-component type="h2" value="Education"></text-component>
    </header>
    <div class="education__items">
      @for (education of education(); track education.year) {
        <div class="education__item">
          <div class="education__item-content">
            <text-component type="p" [value]="education.year"></text-component>
            <text-component type="h3" [value]="education.degree"></text-component>
            <text-component
              type="p"
              color="secondary"
              [value]="education.university"
            ></text-component>
            <text-component type="p" color="secondary" [value]="education.major"></text-component>
          </div>
        </div>
      }
    </div>
  </div>
</section>
