$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-accent: var(--color-accent);

@function build-element($property) {
  @return (
    'property': $property,
    'primary': $color-primary,
    'secondary': $color-secondary,
    'accent': $color-accent
  );
}

$color-elements: (
  'background': build-element('background-color'),
  'text': build-element('color'),
  'border': build-element('border-color'),
);
