$font-family: var(--font-family);

$font-size-xs: clamp(0.75rem, 1vw, 0.875rem);
$font-size-sm: clamp(1rem, 1vw, 1.125rem);
$font-size-md: clamp(1.5rem, 2vw, 1.875rem);
$font-size-lg: clamp(2rem, 2.5vw, 2.5rem);
$font-size-xl: clamp(2.5rem, 3vw, 3.5rem);

$font-weight-normal: 400;
$font-weight-bold: 700;
