$screen-size-small-mobile-device: 320px;
$screen-size-medium-sized-mobile-device: 375px;
$screen-size-large-mobile-device: 425px;
$screen-size-tablet: 768px;
$screen-size-laptop: 1024px;
$screen-size-large-laptop: 1440px;
$screen-size-4k: 2560px;
