$block: 'size';

$font-size-none: 0;
$font-size-xs: clamp(0.75rem, 1vw, 0.875rem);
$font-size-sm: clamp(1rem, 1vw, 1.125rem);
$font-size-md: clamp(1.5rem, 2vw, 1.875rem);
$font-size-lg: clamp(2rem, 2.5vw, 2.5rem);
$font-size-xl: clamp(2.5rem, 3vw, 3.5rem);

$size-none: 0;
$size-xs: 0.25rem;
$size-sm: 0.5rem;
$size-md: 1rem;
$size-lg: 2rem;
$size-xl: 4rem;

$flex-size-none: 0;
$flex-size-xs: 1;
$flex-size-sm: 2;
$flex-size-md: 3;
$flex-size-lg: 4;
$flex-size-xl: 5;

@function build-font-size-element($property) {
  @return (
    'property': $property,
    'modifiers': (
      'none': $font-size-none,
      'xs': $font-size-xs,
      'sm': $font-size-sm,
      'md': $font-size-md,
      'lg': $font-size-lg,
      'xl': $font-size-xl,
    )
  );
}

@function build-size-element($property) {
  @return (
    'property': $property,
    'modifiers': (
      'none': $size-none,
      'xs': $size-xs,
      'sm': $size-sm,
      'md': $size-md,
      'lg': $size-lg,
      'xl': $size-xl,
    )
  );
}

@function build-flex-size-element($property) {
  @return (
    'property': $property,
    'modifiers': (
      'none': $flex-size-none,
      'xs': $flex-size-xs,
      'sm': $flex-size-sm,
      'md': $flex-size-md,
      'lg': $flex-size-lg,
      'xl': $flex-size-xl,
    )
  );
}

$elements: (
  'text': build-font-size-element('font-size'),
  'padding': build-size-element('padding'),
  'flex': build-flex-size-element('flex'),
);
