@use 'variables';

@function get_size($size) {
  @if ($size == 'xs') {
    @return variables.$space--xs;
  } @else if ($size == 'sm') {
    @return variables.$space--sm;
  } @else if ($size == 'md') {
    @return variables.$space--md;
  } @else if ($size == 'lg') {
    @return variables.$space--lg;
  } @else if ($size == 'none') {
    @return 0;
  } @else {
    @error "Invalid size. Possible values ​​are: sm, md, lg, and none!";
  }
}

@mixin section($color: 'primary') {
  padding: 4rem 2rem;
  @if ($color == 'primary') {
    background-color: variables.$color__primary--default;
  } @else if ($color == 'main') {
    background-color: variables.$color__background--main;
  } @else if ($color == 'surface') {
    background-color: variables.$color__background--surface;
  } @else {
    @error "Invalid mode. Possible values ​​are: base, main, and surface!";
  }
}

@mixin flex($column: 'false', $gap: 'none') {
  display: flex;
  flex-wrap: wrap;
  @if ($column == 'true') {
    flex-direction: column;
  }
  @if ($gap == 'xs') {
    gap: variables.$space--xs;
  } @else if ($gap == 'sm') {
    gap: variables.$space--sm;
  } @else if ($gap == 'md') {
    gap: variables.$space--md;
  } @else if ($gap == 'lg') {
    gap: variables.$space--lg;
  } @else if ($gap == 'none') {
    gap: 0;
  } @else {
    @error "Invalid gap. Possible values ​​are: sm, md, lg, and none!";
  }
}

@mixin flex--center {
  align-items: center;
  justify-content: center;
}

@mixin margin($vertical: 'none', $horizontal: 'none') {
  margin: get_size($vertical) get_size($horizontal);
}

@mixin divide-line {
  border: none;
  height: 2px;
  background-color: variables.$color__primary--dark;
}
