@use 'variables';

@mixin section($color: 'primary') {
  padding: 4rem 2rem;
  @if ($color == 'primary') {
    background-color: variables.$color__primary--default;
  } @else if ($color == 'main') {
    background-color: variables.$color__background--main;
  } @else if ($color == 'surface') {
    background-color: variables.$color__background--surface;
  } @else {
    @error "Invalid mode. Possible values ​​are: base, main, and surface!";
  }
}

@mixin flex($column: 'false', $gap: 'none') {
  display: flex;
  @if ($column == 'true') {
    flex-direction: column;
  }
  @if ($gap == 'sm') {
    gap: variables.$space--sm;
  } @else if ($gap == 'md') {
    gap: variables.$space--md;
  } @else if ($gap == 'lg') {
    gap: variables.$space--lg;
  } @else if ($gap == 'none') {
    gap: 0;
  } @else {
    @error "Invalid gap. Possible values ​​are: sm, md, lg, and none!";
  }
}

@mixin margin($vertical: 'none', $horizontal: 'none') {
  @if ($vertical == 'sm') {
    margin-top: variables.$space--sm;
    margin-bottom: variables.$space--sm;
  } @else if ($vertical == 'md') {
    margin-top: variables.$space--md;
    margin-bottom: variables.$space--md;
  } @else if ($vertical == 'lg') {
    margin-top: variables.$space--lg;
    margin-bottom: variables.$space--lg;
  } @else if ($vertical == 'none') {
    margin-top: 0;
    margin-bottom: 0;
  } @else {
    @error "Invalid vertical. Possible values ​​are: sm, md, lg, and none!";
  }
  @if ($horizontal == 'sm') {
    margin-left: variables.$space--sm;
    margin-right: variables.$space--sm;
  } @else if ($horizontal == 'md') {
    margin-left: variables.$space--md;
    margin-right: variables.$space--md;
  } @else if ($horizontal == 'lg') {
    margin-left: variables.$space--lg;
    margin-right: variables.$space--lg;
  } @else if ($horizontal == 'none') {
    margin-left: 0;
    margin-right: 0;
  } @else {
    @error "Invalid horizontal. Possible values ​​are: sm, md, lg, and none!";
  }
}

@mixin divide-line {
  border: none;
  height: 2px;
  background-color: variables.$color__primary--dark;
}

// @mixin flex($gap: 0) {
//   display: flex;
//   gap: $gap;
//   flex-wrap: wrap;
// }

// @mixin flex-column() {
//   flex-direction: column;
// }

// @mixin flex-row() {
//   flex-direction: row;
// }

// @mixin flex-center() {
//   align-items: center;
//   justify-content: center;
// }
