@use 'variables';

@mixin section($color: 'primary') {
  padding: 4rem 2rem;
  @if ($color == 'primary') {
    background-color: variables.$color__primary--default;
  } @else if ($color == 'main') {
    background-color: variables.$color__background--main;
  } @else if ($color == 'surface') {
    background-color: variables.$color__background--surface;
  } @else {
    @error "Invalid mode. Possible values ​​are: base, main, and surface!";
  }
}

@mixin flex($column: 'false') {
  display: flex;
  @if ($column == 'true') {
    flex-direction: column;
  }
}

// @mixin flex($gap: 0) {
//   display: flex;
//   gap: $gap;
//   flex-wrap: wrap;
// }

// @mixin flex-column() {
//   flex-direction: column;
// }

// @mixin flex-row() {
//   flex-direction: row;
// }

// @mixin flex-center() {
//   align-items: center;
//   justify-content: center;
// }
