@use '../../../abstracts/variables';
@use '../../../abstracts/mixins';

.contact {
  @include mixins.flex(2rem);
  @include mixins.flex-column();

  @media screen and (min-width: variables.$screen__size--tablet) {
    @include mixins.flex-row();
  }

  &__column {
    @include mixins.flex(0.5rem);
    @include mixins.flex-column();
  }

  &__fullname {
    @media screen and (min-width: variables.$screen__size--tablet) {
      flex: 0 0 100%;
    }

    @media screen and (min-width: variables.$screen__size--laptop) {
      flex: 3;
    }
  }

  &__contact {
    flex: 1;
  }

  &__items {
    @include mixins.flex();
    @include mixins.flex-column();
  }

  &__social-media {
    flex: 1;
  }
}
