@use '../../../abstracts/variables';
@use '../../../abstracts/mixins';

.contact {
  @include mixins.flex($column: 'true', $gap: 'lg');
  color: variables.$color__text--inverse;

  @media screen and (min-width: variables.$screen__size--tablet) {
    flex-direction: row;
  }

  &__column {
    @include mixins.flex($column: 'true', $gap: 'xs');
  }

  &__fullname {
    @media screen and (min-width: variables.$screen__size--tablet) {
      flex: 0 0 100%;
    }

    @media screen and (min-width: variables.$screen__size--laptop) {
      flex: 3;
    }
  }

  &__social-media {
    flex: 1;
  }

  &__contact {
    flex: 1;
  }

  &__items {
    @include mixins.flex($column: 'true');
    color: variables.$color__text--inverse;
  }
}
