@use '../../abstract/builder/debug-builder.abstract' as debug-builder;
@use '../../abstract/constant/screen-constant.abstract' as screen-constant;

.root {
  @include debug-builder.build-debug;

  height: screen-constant.$screen__size--full-height;
  overflow: auto;

  &__content {
    min-width: screen-constant.$screen__size--min;
  }
}
