@use '../../abstract/constant/color-constant.abstract' as color-constant;

.section {
  &__palette {
    &--primary {
      background-color: color-constant.$color--primary;
      color: white;
    }

    &--secondary {
      background-color: white;
      color: color-constant.$color--primary;
    }
  }
}
