<section class="contact">
  <div class="contact__content">
    <div class="contact__section">
      <text-component type="paragraph" value="About me"></text-component>
      <text-component
        type="paragraph"
        value="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptas?"
      ></text-component>
    </div>
    <div class="contact__section">
      <text-component type="paragraph" value="Projects"></text-component>
      <text-component
        type="paragraph"
        value="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptas?"
      ></text-component>
    </div>
    <div class="contact__section">
      <text-component type="paragraph" value="Social media"></text-component>
      <text-component
        type="paragraph"
        value="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptas?"
      ></text-component>
    </div>
    <div class="contact__section">
      <text-component type="paragraph" value="Contact"></text-component>
      <text-component
        type="paragraph"
        value="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptas?"
      ></text-component>
    </div>
  </div>
</section>
