<div class="contact" [ngClass]="buildMainClassList()">
  <div class="contact_wrapper">
    <div class="contact__column">
      <h3>{{ data().extend.firstName }} {{ data().extend.lastName }}</h3>
      <div class="contact__items">
        @for (motto of data().extend.motto; track motto) {
          <p>{{ motto }}</p>
        }
      </div>
    </div>
    <div class="contact__column">
      <h3>Social media</h3>
      <div class="contact__items">
        @for (socialMedia of data().extend.socialMedias; track socialMedia.label) {
          <a [href]="socialMedia.url" target="_blank">{{ socialMedia.label }}</a>
        }
      </div>
    </div>
    <div class="contact__column">
      <h3>Contact</h3>
      <div class="contact__items">
        <a [href]="'mailto:' + data().extend.email">{{ data().extend.email }}</a>
        <a [href]="'tel:' + data().extend.phone">{{ data().extend.phone }}</a>
        <p>{{ data().extend.country }}, {{ data().extend.city }}</p>
      </div>
    </div>
  </div>
</div>
