@use '../../abstract/builder';
@use '../../abstract/constant';

.text {
  @include builder.build-debug;

  font-family: constant.$font__family;

  &__small,
  &__p {
    font-weight: constant.$font__weight--normal;
  }

  &__h3,
  &__h2,
  &__h1 {
    font-weight: constant.$font__weight--bold;
  }

  &__small {
    font-size: constant.$font__size--xs;
  }

  &__p {
    font-size: constant.$font__size--sm;
  }

  &__h3 {
    font-size: constant.$font__size--md;
  }

  &__h2 {
    font-size: constant.$font__size--lg;
  }

  &__h1 {
    font-size: constant.$font__size--xl;
  }
}
