@use '../abstract/const/font.const' as font;

.text {
  border: 1px dashed #000;
  margin: 1rem;

  font-family: font.$font-family;

  &__small,
  &__p {
    font-weight: font.$font-weight-normal;
  }

  &__h3,
  &__h2,
  &__h1 {
    font-weight: font.$font-weight-bold;
  }

  &__small {
    font-size: font.$font-size-xs;
  }

  &__p {
    font-size: font.$font-size-sm;
  }

  &__h3 {
    font-size: font.$font-size-md;
  }

  &__h2 {
    font-size: font.$font-size-lg;
  }

  &__h1 {
    font-size: font.$font-size-xl;
  }
}
