@use '../constant/size.constant' as size-constant;
@use '../constant/screen.constant' as screen-constant;

* {
  margin: size-constant.$size-none;
  padding: size-constant.$size-none;
  box-sizing: border-box;
}

body {
  min-width: screen-constant.$screen-mobile-sm;
}
