@use '../../builder/base.builder' as base-builder;
@use '../../constant/screen.constant' as screen-constant;
@use '../../builder/size.builder' as size-builder;
@use '../../builder/position.builder' as position-builder;

.flex {
  @include base-builder.build-base-utility;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: screen-constant.$screen-size-tablet) {
    flex-direction: row;
  }

  @include position-builder.build-position('align-items', 'align-items');
  @include position-builder.build-position('justify-content', 'justify-content');
  @include size-builder.build-size('gap', 'gap');
}
