<div class="technologies">
  <header class="technologies__header">
    <!-- <text-component type="h2" value="Technologies"></text-component> -->
  </header>
  <div class="technologies__content">
    @for (group of groups(); track group) {
      <div class="technologies__group">
        <!-- <text-component type="h3" [value]="group.group.label"></text-component> -->
        <div class="technologies__technologies">
          @for (technology of group.technologies; track technology) {
            <div class="technologies__technology">
              <!-- <text-component
                type="small"
                [value]="technology.label"
                palette="main"
              ></text-component> -->
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
