@switch (type()) {
  @case ('small') {
    <p class="text small" [ngClass]="buildTextClassList()">{{ value() }}</p>
  }
  @case ('p') {
    <p class="text paragraph" [ngClass]="buildTextClassList()">{{ value() }}</p>
  }
  @case ('h1') {
    <h1 class="text header header__1" [ngClass]="buildTextClassList()">{{ value() }}</h1>
  }
  @case ('h2') {
    <h2 class="text header header__2" [ngClass]="buildTextClassList()">{{ value() }}</h2>
  }
  @case ('h3') {
    <h3 class="text header header__3" [ngClass]="buildTextClassList()">{{ value() }}</h3>
  }
}
